# Options to explicitly remove from defconfig
# Source: hexdump0815/kernel-config-options options-to-remove-generic.cfg
# These counteract bloat that defconfig enables by default

# ARM/embedded SoC families not needed on x86_64 Chromebooks
# CONFIG_ARCH_ACTIONS is not set
# CONFIG_ARCH_ALPINE is not set
# CONFIG_ARCH_BERLIN is not set
# CONFIG_ARCH_BCM4908 is not set
# CONFIG_ARCH_BRCMSTB is not set
# CONFIG_ARCH_HISI is not set
# CONFIG_ARCH_K3 is not set
# CONFIG_ARCH_LAYERSCAPE is not set
# CONFIG_ARCH_MVEBU is not set
# CONFIG_ARCH_MXC is not set
# CONFIG_ARCH_NXP is not set
# CONFIG_ARCH_RENESAS is not set
# CONFIG_ARCH_SYNQUACER is not set
# CONFIG_ARCH_ZYNQMP is not set

# Network vendors not present in Chromebooks
# CONFIG_NET_VENDOR_3COM is not set
# CONFIG_NET_VENDOR_ADAPTEC is not set
# CONFIG_NET_VENDOR_ALACRITECH is not set
# CONFIG_NET_VENDOR_ALTEON is not set
# CONFIG_NET_VENDOR_AMAZON is not set
# CONFIG_NET_VENDOR_BROCADE is not set
# CONFIG_NET_VENDOR_CAVIUM is not set
# CONFIG_NET_VENDOR_CHELSIO is not set
# CONFIG_NET_VENDOR_CISCO is not set
# CONFIG_NET_VENDOR_DEC is not set
# CONFIG_NET_VENDOR_EMULEX is not set
# CONFIG_NET_VENDOR_GOOGLE is not set
# CONFIG_NET_VENDOR_HISILICON is not set
# CONFIG_NET_VENDOR_HUAWEI is not set
# CONFIG_NET_VENDOR_MELLANOX is not set
# CONFIG_NET_VENDOR_MYRI is not set
# CONFIG_NET_VENDOR_NATSEMI is not set
# CONFIG_NET_VENDOR_NETRONOME is not set
# CONFIG_NET_VENDOR_PENSANDO is not set
# CONFIG_NET_VENDOR_QLOGIC is not set
# CONFIG_NET_VENDOR_RENESAS is not set
# CONFIG_NET_VENDOR_ROCKER is not set
# CONFIG_NET_VENDOR_SOLARFLARE is not set
# CONFIG_NET_VENDOR_XILINX is not set

# Filesystems not needed
# CONFIG_9P_FS is not set
# CONFIG_EXT2_FS is not set
# CONFIG_XFS_FS is not set
# CONFIG_REISERFS_FS is not set
# CONFIG_OCFS2_FS is not set

# Build/debug options
# CONFIG_DEBUG_INFO is not set
# CONFIG_RUNTIME_TESTING_MENU is not set
# CONFIG_BLK_DEV_RAM is not set
CONFIG_BLK_DEV_RAM_COUNT=0
CONFIG_BLK_DEV_RAM_SIZE=0
# CONFIG_LOCALVERSION_AUTO is not set
# CONFIG_NET_9P is not set
# CONFIG_FPGA is not set
# CONFIG_MODULE_SIG_ALL is not set
# CONFIG_CPU_FREQ_DEFAULT_GOV_SCHEDUTIL is not set
